{% extends "user-page.html" %}
{% block title %}Student Database{% endblock %}

{% block content %}
<table>
    <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Student Name</th>
        <th scope="col">Grade Level</th>
        <th scope="col">Age</th>
        <th scope="col">Parent Name</th>
        <th scope="col">Parent Email</th>
        <th scope="col">Active Status</th>
        <th scope="col">Other Info</th>
        <th scope="col">Date Added</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.grade_level}}</td>
        <td>{{student.age}}</td>
        <td>{{student.parent_name}}</td>
        <td>{{student.parent_email}}</td>
        <td>{{student.active_status}}</td>
        <td>{{student.other_information}}</td>
        <td>{{student.date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}